.App {
  text-align: center;
}

.search-bar-wrapper {
  padding: 30px;
  border: 1px solid black;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.header-wrapper {
  padding: 18px;
  border: 1px solid black;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.header-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 16px;
  outline: none;
}

.header-button:hover {
  background-color: SlateBlue;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-input {
  padding: 8px 12px;
}

.post-card {
  border: 1px solid gray;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #5f9ea0;
  color: white;
}

.text-input {
  border-radius: 5px;
  width: 500px;
  padding: 8px 12px;
}

.textarea-input {
  border-radius: 5px;
  width: 500px;
  padding: 8px 12px;
}

.form-wrapper {
  padding: 30px 300px;
}

.form-content {
  padding: 30px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
